<app-template-full-width [title]="'Liste des commandes'" *ngIf="parentCollection">
  <app-table-light
    [headers]="parentHeaders">
    <tr *ngFor="let order of parentCollection">
      <td>{{ order.tjmHt }}</td>
      <td>{{ order.nbJours }}</td>
      <td>{{ order.tva }}</td>
      <!--<td>{{ calculTotalHt(order) }}</td>
      <td>{{ calculTotalTtc(order) }}</td>-->
      <td>{{ order | total: false }}</td>
      <td>{{ order | total: true }}</td>
      <td>{{ order.typePresta }}</td>
      <td>{{ order.client }}</td>
      <td>{{ order.state }}</td>
    </tr>
  </app-table-light>
  <app-btn></app-btn>
</app-template-full-width>
